<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head(title='Profil')"></head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <section id="user-profil">
        <h2 th:text="|Profil de ${user.nom} ${user.prenom} |"></h2>

        <div>
            <p>Nom : <span class="space" th:text="${user.nom}"></span></p>
            <p>Prenom : <span class="space" th:text="${user.prenom}"></span></p>
            <p>Username : <span class="space" th:text="${user.username}"></span></p>
            <p>Email : <span class="space" th:text="${user.email}"></span></p>
            <p>Admin : <span class="space" th:text="${user.admin}"></span></p>
        </div>
    </section>
</body>
</html>
