<!DOCTYPE html>
<html lang="fr">
<head th:replace="fragments/header :: head(title='Login')"></head>
<body id="body-user">
    <div  class="back-black">
        <div id="login-general">
            <div class="img-background">
                <img th:src="@{/images/mosaique1.jpg}" >
            </div>
            <header class="header-co">
                <h1><a th:href="@{/}">City Movie</a></h1>
            </header>
            <section id="login">
                <h2>Se connecter</h2>
                <p th:if="${message}" class="success" th:text="${message}"></p>
                <form method="post" th:action="@{/login}">
                    <div th:if="${param.error}" class="red-text">
                        Invalid username and password.
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <span class="alert-danger"></span>
                    </div>
                    <a href="#">Mot de passe oublié</a>
                    <button type="submit" class="btn btn-danger">S'identifier</button>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Se souvenir de moi
                        </label>
                    </div>
                </form>
                <p>Prenmière visite ? <a th:href="@{/user/inscription}">Inscrivez vous.</a></p>
            </section>
        </div>
    </div>
</body>
</html>
