<!DOCTYPE html>
<html lang="fr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/endpoint.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <link rel="stylesheet" th:href="@{/css/avis.css}" />
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title th:text="${title}"></title>
</head>
<header>
    <div class="info-header">
        <div>
            <div class="suivez-nous">
                <p>Suivez-nous : </p>
                <a href="https://www.linkedin.com/in/colas-vincent/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/vinctigra?tab=repositories" target="_blank" class="github"> <i class="bi bi-github"></i></a>
                <a href="https://www.facebook.com/cavimait" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/vinc.developpeur/" class="insta" target="_blank"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i><span class="space majuscule" th:text="|${#authentication.principal.user.prenom} ${#authentication.principal.user.nom}|"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{'/private/user/get-id/' + ${#authentication.principal.user.id} }">Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/doc}">Doc Api</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><form th:action="@{/logout}" method="post"><button class="btn-logout">Logout <i class="bi bi-box-arrow-in-left"></i></button></form></li>
            </ul>
        </div>

      <!--<div sec:authorize="isAuthenticated()"><p class="success-co" th:text="|Welcome : ${#authentication.name}|"><form th:action="@{/logout}" method="post"><button>Logout <i class="bi bi-box-arrow-in-left"></i></button></form></div>-->
      <div sec:authorize="!isAuthenticated()" class="nav-login">
          <a th:href="@{/login}"><i class="bi bi-box-arrow-in-right"></i><span class="space">Login</span></a></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1><a class="navbar-brand" th:href="@{/}">City Movie</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="hasRole('admin')">
                        <a class="nav-link" th:href="@{/admin/cast}">Casts</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('admin')">
                        <a class="nav-link" th:href="@{/admin/genre}">Genres</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/film/get-all}">Films</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('admin')">
                        <a class="nav-link" th:href="@{/admin/user/get-all}">Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('admin')">
                        <a class="nav-link" th:href="@{/admin/mapping}">Mapping</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>
