body{
    background-color: black !important;
    color: antiquewhite !important;
}
.input-cache{
    display: none;
}
.green-text{
    color: green !important;
}
.red-text{
    color: red !important;
}
.majuscule{
    text-transform: capitalize;
}
header{
    text-decoration: none;
}
#body-home{
    padding: 15px;
}
#body-home h3{
    font-weight: bold;
    margin: 35px 0 0 0;
    text-decoration: underline;
}
.space{
    margin-left: 10px;
}
.suivez-nous{
    display: block ruby;
}
.suivez-nous a{
   margin: 0 10px;
}

.success{
    color: white;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 90%;
    font-weight: bold;
    margin: auto;
    background-color: green;
}
.error-message{
    color: white;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 90%;
    font-weight: bold;
    margin: auto;
    background-color: red;
}

/* CAST */
#list-card{
    text-align: center;
}
#list-card .btn-add-card{
    margin: 35px auto 65px auto;
}
.card-cast{
    width: 300px !important;
    text-align: center;
    margin: 15px 2px;
}
.btn-add-card{
    text-align: center !important;
    margin: 15px auto;
    width: 350px !important;
}.btn-add-card a{
     width: 100%;
 }
.section-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

/* GENRES */

#add-genre h2{
    text-align: center;
    font-size: 55px;
    margin: 25px 0 45px 0;
}

.section-card-genre ul li{
    font-size: 25px;
    text-transform: uppercase;
    display: block ruby;
    margin: 25px auto;
}
.group-button-genre{
    padding-left: 15px;
    border-left: 3px solid black;
    margin-left: 15px;
}

 /* FILM */
.card-film{
    height: 800px;
    /*overflow: auto;*/
}
.card-film h5{
    font-weight: bold;
}
.card-titre-film{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card-titre-film h6{
    font-size: 12px;
}

/* FILM ADD*/
.form-group{
    width: 100% !important;
    margin: 10px 0;
}
.form-group input.input-width{
    width: 100% !important;
}
.form-group label{
   font-weight: bold;
}
.floatingTextarea{
    color: black;
}
.form-group h5{
  margin: 25px 0;
}
.form-film div{
    width: 600px;
}
.form-film{
    display: flex;
    justify-content: center;
}
.form-check{
    width: 300px !important;
}
.form-check label{
    width: 150px;
    margin-left: 15px;
}
.form-check-film{
    display: flex;
    flex-wrap: wrap;
}
.cache{
    display: none !important;
}
.btn-submit-film{
    width: 350px !important;
    margin: 25px auto;
}
.btn-submit-film button{
    width: 350px !important;
    margin: 25px auto;
}
 /* HOME */

#home{
    text-align: center;
}
#list-film-home{
    display: block ruby;
    overflow: auto;
    margin: 50px 55px;
}
.header-admin{
    display: flex;
    justify-content: space-between;
}
.card-film{
    margin-left: 30px;
    color: black;
}
.card-film .card-body p{
    height: 100px;
    overflow: auto;
}
.card-film img.card-img-top{
    height: 380px !important;
}
.card-body{
    overflow: auto;
}
#list-card h2{
    text-align: center;
    font-size: 55px;
    margin: 25px 0 45px 0;
}
#list-card h3{
    text-align: center;
    font-size: 35px;
    margin: 25px 0 45px 0;
}
#list-card .h3-realisateur{
    margin: 105px 0 45px 0;
}
#list-card .table{
    margin-top: 50px;
    color: antiquewhite !important;
}
#list-card thead{
    font-size: 25px;
}
#list-card tbody{
    font-size: 20px;
}
#list-film-home-action{
    display: block ruby;
    overflow: auto;
    margin: 50px 55px;
}
#list-film-home-science{
    display: block ruby;
    overflow: auto;
    margin: 50px 55px;
}
.card-film-home{
    height: 450px;
    margin-left: 30px;
    color: black;
}
.card-film-home a{
    height: 100%;
}
.card-film-home a img.card-img-top{
    height: 100%;
    width: 100%;
}

/* film Get Id*/
#section-film h2{
    text-align: center;
    font-size: 55px;
    margin: 25px 0 45px 0;
}
#section-film h3{
    width: 660px;
    text-align: left;
    margin: 25px auto;
}
.video{
    display: flex;
    justify-content: center;
}
.synopsis{
    display: flex;
    justify-content: center;
    width: 660px;
    margin: auto;
}
.img-film{
    width: 200px;
}
.info-film{
    width: 660px;
    text-align: left;
    margin: 35px auto;
    display: flex;
}
.section-info-film{
    width: 460px;
    padding: 20px;
}
.section-info-film p{
    color: grey;
}
.section-info-film div{
    color: grey;
}
.section-info-film p span{
    font-weight: bold;

}
.section-info-film li{
    font-weight: bold;

}

#list-film-admin{
    display: flex;
    margin: 50px 55px;
    flex-wrap: wrap;
}
.card-film-admin{
    margin: 20px !important;
}
#admin-search-film{
    display: flex;
    justify-content: center;
}
#admin-search-film form{
    position: relative;
    display: inline-flex;
}
#admin-search-film input{
    width: 250px;
    border: 1px solid blue;
    border-radius: 50px;
    height: 40px;
    padding: 2px 0;
    text-indent: 5px;
}
#admin-search-film button{
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


 /* FOOTER */

footer{
    text-align: center;
}
