<!DOCTYPE html>
<html lang="fr"  xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: head(title='Home Page')"></head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div id="body-home">
        <section id="home">
            <h1>Welcome to City Movie </h1>
            <h2>Retrouvez vos film préférés sur notre site !!!</h2>
        </section>

        <h3>Les derniers Ajouts :</h3>
        <section id="list-film-home">
            <div class="card card-film-home" style="width: 18rem;" th:each="film,itersat : ${films}" th:if="${itersat.index}<5">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film de Science-Fiction</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 2}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film d'Action</h3>
        <section id="list-film-home-action">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 4}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>


        <h3>Film d'aventure</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 6}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film Dramatique</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 7}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film de Comédie</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 3}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film jeunesse</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 5}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Documenatire</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 8}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/private/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>
    </div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
