<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head(title='Home Page')"></head>
<body>
    <header>
        <div class="info-header">
            <div>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#" class="insta"><i class="bi bi-instagram"></i></a>
            </div>
            <p th:if="${user != null}">Welcome : <span class="success-co" th:text=" ${user.username}"></span> </p>
            <p th:if="${user == null}">Vous n'êtes pas connecté !</p>
        </div>
       <nav th:replace="fragments/header :: nav"></nav>
    </header>
    <div id="body-home">
        <section id="home">
            <h1>Welcome to Filmothèque World</h1>
            <h2>Retrouvez vos film préférés sur notre site !!!</h2>
        </section>

        <h3>Les derniers Ajouts :</h3>
        <section id="list-film-home">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film d'Action</h3>
        <section id="list-film-home-action">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 4}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>

            </div>
        </section>

        <h3>Film de Science-Fiction</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 2}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>

        <h3>Film de Commédie</h3>
        <section id="list-film-home-science">
            <div class="card card-film-home" style="width: 18rem;" th:each="film : ${films}" th:if="${film.genre.id == 3}">
                <div class="card-header" th:text="${film.genre.libelle}"></div>
                <a th:href="@{'/film/get-one/' + ${film.id}}">
                    <img th:src="${film.urlImage}" class="card-img-top" alt="...">
                </a>
            </div>
        </section>
    </div>
</body>
</html>
