<html lang="en">
<head th:replace="fragments/header :: head(title='Film')"></head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <p th:if="${message}" class="success" th:text="${message}"></p>

<section id="list-card">
    <h2>List des Films</h2>
    <div class="btn-add-card">
        <a type="button" class="btn btn-success" th:href="@{/film/formulaire-ajout-film}" >Add Film</a>
    </div>
</section>

<section id="list-film-home">
    <div class="card card-film" style="width: 18rem;" th:each="film : ${films}">
        <div class="card-header header-admin">
            <span  th:text="${film.genre.libelle}"></span>
            <div class="group-button">
                <a type="button" class="btn btn-warning"><i class="bi bi-pen"></i></a>
                <a type="button" class="btn btn-danger"><i class="bi bi-x-square"></i></a>
            </div>
        </div>
        <img th:src="${film.urlImage}" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-titre-film">
                <h5 class="card-title" th:text="${film.titre}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="|${film.duree} min|"></h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${#temporals.format(film.dateSortie, 'dd-MMMM-yyyy')}"></h6>
            <h6><a th:href="@{'/avis/get-all/' + ${film.id}}">Avis</a></h6>
            <p class="card-text" th:text="${film.synopsis}"></p>
            <ul>
                <h5>Acteurs :</h5>
                <li th:each="cast : ${film.castActeur}"><span th:text="|${cast.prenom} ${cast.nom} |">
                   </span></li>
                <h5>Realisateur :</h5>
                <li th:text="|${film.castRealisateur.prenom} ${film.castRealisateur.nom}|"></li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>

